@model ChangePasswordVM

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Change Password</h4>

        <div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-info">@ViewBag.Message</div>
            }
        </div>

        <form class="forms-sample" asp-action="ChangePassword" asp-controller="StoreHome" asp-area="StoreArea" method="post">
           
            <div class="form-group">
                <label for="exampleInputEmail1">old Password </label>
                <input asp-for="OldPassword" class="form-control" id="exampleInputEmail1" placeholder="Old Password">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">New Password</label>
                <input asp-for="NewPassword" class="form-control" id="exampleInputPassword1" placeholder="New Password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputConfirmPassword1">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" id="exampleInputConfirmPassword1" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-gradient-primary me-2">Change Password</button>
            <button class="btn btn-light"><a asp-action="Index" asp-controller="StoreHome" asp-area="StoreArea">Cancel</a></button>
        </form>
    </div>
</div>
