@model IEnumerable<CartVM>



<table class="table table-hover w-100 table-bordered" ">
    <thead>

        <tr>

            <th for="ch">Product Id</th>
            <th>Product Name</th>

        </tr>
    </thead>
    <tbody>

@foreach (var temp in Model)
{

            <tr>
                <input type="hidden" value="@temp.ProductId" id="ProductId1" />
                <td><input type="checkbox" id="productCheck1" />@temp.ProductId</td>

                <td>@temp.ProductName</td>
       

            </tr>
   
}
    </tbody>

</table>

