@model PetType
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create  </h4>

        <div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-info">@ViewBag.Message</div>
            }
        </div>

        <form class="forms-sample" asp-action="Create" method="post">

            <div class="form-group">
                <label class="form-label"> Pet Type Name</label>
                <input asp-for="PetTypeName" class="form-control" placeholder="PetTypeName">
                <span asp-validation-for="PetTypeName" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-gradient-primary me-2">Create</button>
            <button class="btn btn-light"><a asp-action="Index" asp-controller="PetType">Cancel</a></button>
        </form>
    </div>
</div>
