@model IEnumerable<StoreReviewVM>
<style>
    #addCartBtn:hover {
        background-color: #000;
    }

    #cartText:hover {
        color: #fff;
    }
</style>



<table class="table table-hover w-100 table-bordered">
    <thead>

        <tr>


            <th for="ch">Product Id</th>
            <th>Product Name</th>


        </tr>
    </thead>
    <tbody>
     
        @foreach (var temp in Model)
        {

            <tr>

                <input type="hidden" value="@temp.ProductId" id="PetProductId_@temp.ProductId" />
                <td><input type="checkbox" id="Pro3Check_@temp.ProductId" />@temp.ProductId</td>
                <td>@temp.ProductName</td>
                <input type="hidden" id="count3"  value="@TempData["count"]" />
              
            </tr>

        }

    </tbody>
</table>
