@model City
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit  </h4>

        <div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-info">@ViewBag.Message</div>
            }
        </div>

        <form class="forms-sample" asp-controller="City" asp-action="Edit" method="post">
            <div>
                <input type="hidden" asp-for="CityId" />
            </div>
            <div class="form-group">
                <label class="form-label">City Name</label>
                <input asp-for="CityName" class="form-control" placeholder="CityName ">
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleSelectCountry">Select Country</label>
                <select class="form-select" id="Country" asp-for="State.CountryId" asp-items="@ViewBag.CountryId">
                    <option value="0">Select Country</option>
                </select>
                <span asp-validation-for="State.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleSelectState">Select State</label>
                <select class="form-select" id="StateId" asp-for="StateId" name="StateId" asp-items="@ViewBag.StateId">
                    <option>Select State</option>
                </select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-gradient-primary me-2">Edit</button>
            <button class="btn btn-light"><a asp-action="Index" asp-controller="City">Cancel</a></button>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        $("#Country").change(function () {

            $.ajax({
                url: "/AdminArea/AdminHome/GetStateJson/" + $("#Country").val(),
                type: "Get",
                contentType: "application/json",
                success: function (result) {
                    //alert(JSON.stringify(result));
                    $("#StateId").empty();
                    for (var i = 0; i < result.length; i++) {
                        var str = "<option value='" + result[i].stateId + "'>" + result[i].stateName + "</option>";
                        $("#StateId").append(str);
                    }
                },
                error: function (err) {
                    alert(JSON.stringify(err));
                }
            });

        });


    });
</script>