@model PetFamily
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit </h4>

        <div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-info">@ViewBag.Message</div>
            }
        </div>

        <form class="forms-sample" asp-action="Edit" asp-controller="PetFamily" method="post">
            <input type="hidden" asp-for="PetFamilyId" />

            <div class="form-group">
                <label class="form-label"> Pet Family Name</label>
                <input asp-for="PetFamilyName" class="form-control" placeholder="PetFamilyName">
                <span asp-validation-for="PetFamilyName" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-gradient-primary me-2">Edit</button>
            <button class="btn btn-light"><a asp-action="Index" asp-controller="PetFamily">Cancel</a></button>
        </form>
    </div>
</div>
