
@* @{
    //Layout = "~/areas/adminarea/views/shared/_growpetlayout.cshtml";

   // Layout = null; 
} *@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome To Admin Area!</h1>
</body>
</html>
